body {
background: peachpuff;
width: 80%;
margin: 0 auto;
}

nav a{
	text-decoration:none ;
	color: darkred;
}

nav a:hover{
text-decoration: underline;
font-weight: bold;
text-shadow: 0 0 2px darkred, 0 0 8px white;
}

form{

	border: 1px darkred solid ;
	box-shadow: 0 0 5px 3px darkred;
	padding: 30px;
	width:168px;
}
.blanco{
	color: white;
	font-size: 20px;
}
.btn{
	width: 80px;
	background: chocolate;
	border-radius: 2px;

}